<p data-="<%=to%>">...redirecting</p>
<%if(data){%>
    <div id="vault">
        <%Object.keys(data).forEach(val=>{%>
            <% if(val==="token" ){%>
                <span data-key="<%=val%>" id="<%=val%>" data-="<%=data[val]%>"></span>
                <%}%>
                    <%})%>
                        <%}%>
    </div>


    <script>
        let token = document.getElementById("token").getAttribute("data-");
        if (token) {
            localStorage.setItem("token", token)
        }
        let destination = document.querySelector('p').getAttribute("data-");
        window.location.href = window.location.origin + destination
    </script>